.header {
  display: flex;
  background-color: var(--headerdark);
  color: var(--secondary);
  padding: 1rem 2rem;
  align-items: center;
  justify-content: space-between;
  height: 90px;
}

.nav {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.nav a {
  color: var(--secondary);
  margin-left: 1rem;
  text-decoration: none;
  font-weight: bold;
  font-size: 24px;

  &:hover {
    text-decoration: underline;
    color: var(--backlight);
  }
}


.logo {
  font-size: 28px;
  font-weight: bold;
  color: var(--textlight);
  text-decoration: none;
  height: 70px
}



@media (max-width: 768px) {


  .nav {
    flex-direction: column;
  }
}