.header {
  display: flex;
  background-color: var(--headerdark);
  color: var(--textlight);
  padding: 1rem 2rem;
  align-items: center;
}

.nav {
  display: flex;
}

.nav a {
  color: var(--textlight);
  margin-left: 1rem;
  text-decoration: none;
  font-weight: bold;
  font-size: 24px;
}

.nav a:hover {
  text-decoration: underline;
  color: var(--backlight);
}

.logo {
  font-size: 28px;
  font-weight: bold;
  color: var(--textlight);
  text-decoration: none;
  height: 70px;
}

.menu-toggle {
  display: none;
}

.menu-icon {
  display: none;
  font-size: 28px;
  cursor: pointer;
  color: var(--textlight);
}


@media (max-width: 768px) {
  .nav {
    display: none;
  }

  .menu-toggle:checked + .menu-icon + .nav {
    display: flex;
  }

  .menu-icon {
    display: block; /* visa hamburgaren */
    margin-left: auto;
  }

  .nav a {
    margin: 0.5rem 0;
    font-size: 20px;
  }
}