
.card-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
    gap: 2rem;
    max-width: 600px;
    margin: 0 auto;
}

.card > h2 {
    margin-bottom: 1rem;
}

.card {
    width:100%;
    display: grid;
    padding: 0.5rem;
    background: black;
    color: white;
    text-align: center;
    border-radius: 10px;
    position: relative;
}

@property --spinning{
    syntax: "<angle>";
    inherits: false;
    initial-value: 0deg;
}

/* Cool animation för border som snurrar runt sin .card i pride färger */

.card::after, .card::before  {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -1;
    padding: 3px;
    border-radius: 10px;
    background: conic-gradient(from var(--spinning),var(--pride));
    animation: 15s spin linear infinite;

}

@keyframes spin {
    from {
        --spinning: 0deg;
    }
    to {
        --spinning: 360deg;
    }
}

.card::before {
    filter: blur(1.2rem);
    opacity: 0.6;
}