body {
    background-color: black;
}

.card-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 2rem;
    grid-template-areas: 
    "box-1 box-2 box-3 box-3"
    "box-1 box-4 box-4 box-5";

}

.card {
    display: grid;
    padding: 0.5rem;
    background: black;
    color: white;
    text-align: center;
    border-radius: 10px;
    position: relative;
    place-items: center;

}


.column {
    writing-mode: vertical-rl;   /* lodrätt */
    text-orientation: upright;   /* bokstäverna står rätt upp */
    /* /* transform: none;          ingen extra rotation */
    letter-spacing: normal;      /* viktigt! ta bort ev. utspridning */
    word-spacing: normal;
    line-height: 1;             
    white-space: normal;
    text-align: center;  
    font-size: 32pt;

}
